@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Indie+Flower|Marck+Script&display=swap");

$titleFont: 'Marck Script', cursive;
$noteFont: 'Indie Flower', cursive;
$noteTitleFont: 'Cormorant Garamond', serif;